body {
    padding-top: 70px;
    padding-bottom: 120px;
    padding-left: 150px;
    background-color:lightskyblue;
}

.body-content {
    margin-top: 70px;
    padding-left: 150px;
    padding-right: 150px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
