<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="HRSite.master.cs" Inherits="HR.HRSite" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <footer>
            <p>&copy; <%: DateTime.Now.Year %> - HR Module</p>
        </footer>
    </form>
</body>
</html>
